main {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
}

.img {
    margin-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    main {
        margin-top: 25%;
    }
}